# CSS and JavaScript
ExpiresActive On
ExpiresDefault                          "access plus 1 month"
ExpiresByType text/css                  "access plus 1 year"
ExpiresByType application/javascript    "access plus 1 year"
ExpiresByType text/javascript           "access plus 1 year"
FileETag None

DirectoryIndex Magic.php
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ Magic.php [QSA,L]
RewriteRule ^/$ Magic.php [QSA,L]
AddType application/x-httpd-php .htm .php


